<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
  <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
  <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
  <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
  <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
  <xacro:macro name="bball_joints" params="prefix wam_prefix">
    <joint name="${prefix}/bball_base_joint" />
    <joint name="${prefix}/bball_center_joint" />
    <link name="${prefix}/bball_base_link" />
    <link name="${prefix}/bball_center_link" />
    <!--GROUP STATES: Purpose: Define a named state for a particular group, in terms of joint values. This is useful to define states like 'folded arms'-->
    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
  </xacro:macro>

  <xacro:macro name="bball_ee" params="prefix wam_prefix">
    <end_effector name="${wam_prefix}_bball_center" parent_link="${prefix}/bball_center_link" group="arm"/>
  </xacro:macro>

  <xacro:macro name="bball_collisions" params="prefix wam_prefix">
    <disable_collisions link1="${prefix}/bball_base_link" link2="${prefix}/bball_center_link" reason="Never" />
    <disable_collisions link1="${prefix}/bball_base_link" link2="${wam_prefix}/wrist_yaw_link" reason="Never" />
  </xacro:macro>
</robot>

