<launch>

  <!-- ZED Mesh File -->
  <param name="zed_mesh_file" value="$(find barrett_tf_publisher)/zed_wrist_mount/zed_wrist_mount.xyz" />

   <!-- Load the urdf into the parameter server. -->
   <param name="robot_description" textfile="$(find barrett_tf_publisher)/urdf/wam.urdf"/>
   <!-- <param name="robot_description" textfile="$(find barrett_tf_publisher)/urdf/wam7_bhand.urdf"/> -->

   <!-- Robot State Publisher -->
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
        <remap from="joint_states" to="wam/joint_states" />
   </node>

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_bhand" >
        <remap from="joint_states" to="wam/joint_states" />
   </node>

  <!-- RVIZ -->
   <node type="rviz" name="barrett_tf_publisher_rviz" pkg="rviz" args="-d $(find barrett_tf_publisher)/rviz/barrett_tf_publisher.rviz"/>

  <!-- NODE -->
  <node name="barrett_tf_publisher" pkg="barrett_tf_publisher" type="barrett_tf_publisher.py" respawn="false" output="screen">
  </node>

</launch>
